{% extends 'business_base.html.twig' %}
{% block title %}Charts | Event{% endblock %}
{% block page_title %}Events charts{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Charts</li>
    <li class="breadcrumb-item active">Event</li>
{% endblock %}

{% block body %}
    <p>Test Event Chart</p>
{% endblock %}