{% extends 'business_base.html.twig' %}
{% block title %}Advert | Create{% endblock %}
{% block page_title %}Advert creation form{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Advert</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock %}

{% block body %}
    <p>TestAds Form</p>
{% endblock %}
