{% extends 'business_base.html.twig' %}
{% block title %}Advert | List{% endblock %}
{% block page_title %}Advert list{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Advert</li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block body %}
    <p>TestAds</p>
{% endblock %}
