/************************************************/

/* Start Blog Grid Area */

.blog_grid_area{
    padding: 100px 0 80px 0;
    background-color: #fff;
}

/* End blog grid area
============================================================================================ */
/*************************************************/

/* Start Media */

.media{
    /*background-color: #fff;*/
}

/* End Media
============================================================================================ */
/*************************************************/

/* Start Post Writing Space */
.writing_post{
    width: auto;
    outline: none;
    min-height: 70px;
    cursor: text;
    text-align: left;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.post_pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#post_button{
    float: right;
}

/* End Post Writing Space
============================================================================================ */
/*************************************************/

/* Start Post */
.pic_post{
    width: 70%;
    padding: 0 0 0 0 !important;
    border-radius: 20px;
}
.media{
    padding-top: 30px !important;
    position: relative;
}
.update_box{
    position: absolute;
    top: 30px;
    right: 0;
}
.update_img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.update_btn{
    outline: none;
}

/* End Post
============================================================================================ */
/*************************************************/

/* Start Modal */
.modal-body{
    text-align: center;
}

/* End Modal
============================================================================================ */
/*************************************************/

/* Start Reactions */
.reaction-statistics{

}
.reaction-box{
    width: 20%;
    margin: auto;
    padding: 0 0 0 0;
}
.emoticon{
    width: 20%;
    margin-right: 1%;
    margin-left: 1%;
    cursor: pointer;
}