{% extends 'business_base.html.twig' %}
{% block title %}Charts | Advert{% endblock %}
{% block page_title %}Advertisement charts{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Charts</li>
    <li class="breadcrumb-item active">Ads</li>
{% endblock %}

{% block body %}
    <p>Test Ads Chart</p>
{% endblock %}
