{% extends 'business_base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item active">Dashboard</li>
{% endblock %}

{% block body %}
    <p>TestContent</p>
{% endblock %}