{% extends is_granted("ROLE_BUSINESS")?"business_base.html.twig":"member_base.html.twig" %}

{% block scripts %}
    {% if is_granted("ROLE_ADMIN") %}
        <script>
            window.location = "{{ path('admin_home') }}";
        </script>
    {% endif %}
{% endblock %}

{% block title %}
    Change Password
{% endblock %}
{% block banner %}
{% endblock %}

{% block banner_title %}Change Password{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('member_assets/css/card.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row" style="margin: unset; height: 100%; display: flex; align-items: center; justify-content: center; background-image: url({{ asset('member_assets/img/back_pattern.png') }}); background-repeat: repeat;">
        <div class="col-md-6">
            <div class="card horizontal">
                <div class="card-stacked">
                    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}