{% extends 'business_base.html.twig' %}
{% block title %}Event | List{% endblock %}
{% block page_title %}Event list{% endblock %}
{% block page_path %}
    <li class="breadcrumb-item">Event</li>
    <li class="breadcrumb-item active">List</li>
{% endblock %}

{% block body %}
   <p>test</p>
{% endblock %}
